<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="AnimeInfoImpl" class="com.itheima.spring.impl.AnimeInfoImpl">
        <property name="animeName" ref="AnimeNameImpl"></property>
        <property name="animeTime" ref="AnimeTimeImpl"></property>
        <property name="animeKNCW" ref="AnimeKNCWImpl"></property>
    </bean>
<!--    -->
<!--    <bean  id="AnimeNameImpl" class="com.itheima.spring.impl.AnimeNameImpl"></bean>-->
<!--    <bean  id="AnimeTimeImpl" class="com.itheima.spring.impl.AnimeTimeImpl"></bean>-->
<!--    <bean  id="AnimeKNCWImpl" class="com.itheima.spring.impl.AnimeKNCWImpl"></bean>-->

<!--    <bean  name="AnimeNameImpl" class="com.itheima.spring.impl.AnimeNameImpl" scope="singleton"></bean>-->
<!--    <bean  name="AnimeTimeImpl" class="com.itheima.spring.impl.AnimeTimeImpl" scope="singleton"></bean>-->
<!--    <bean  name="AnimeKNCWImpl" class="com.itheima.spring.impl.AnimeKNCWImpl" scope="singleton"></bean>-->

<!--    <bean  name="AnimeNameImpl" class="com.itheima.spring.impl.AnimeNameImpl" scope="prototype"></bean>-->
<!--    <bean  name="AnimeTimeImpl" class="com.itheima.spring.impl.AnimeTimeImpl" scope="prototype"></bean>-->
<!--    <bean  name="AnimeKNCWImpl" class="com.itheima.spring.impl.AnimeKNCWImpl" scope="prototype" ></bean>-->

    <bean  name="AnimeNameImpl" class="com.itheima.spring.impl.AnimeNameImpl" ></bean>
    <bean  name="AnimeTimeImpl" class="com.itheima.spring.impl.AnimeTimeImpl" ></bean>
<!--    <bean  name="AnimeKNCWImpl" class="com.itheima.spring.impl.AnimeKNCWImpl" init-method="init" destroy-method="destroy"></bean>-->
    <bean  name="AnimeKNCWImpl" class="com.itheima.spring.impl.AnimeKNCWImpl"></bean>

<!--    <bean id="FactoryCreateBeanP" class="com.itheima.spring.utils.FactoryCreateBean"></bean>-->

<!--    <bean id="FactoryCreateBean" class="com.itheima.spring.utils.FactoryCreateBean" factory-method="getAnimeKNCWBean"></bean>-->

<!--    <bean id="FactoryCreateBean02" factory-bean="FactoryCreateBeanP" factory-method="getAnimeKNCWImplBean"></bean>-->

<!--    <bean id="FactoryBean02" class="com.itheima.spring.utils.FactoryBean02"></bean>-->


        <bean id="AnimePrintInfoImpl" class="com.itheima.spring.impl.AnimePrintInfoImpl">
            <property name="animeName" value="契约之吻"></property>
            <property name="releaseTime" value="2022"></property>
        </bean>


<!--        <bean id="AnimePrintInfo02Impl" class="com.itheima.spring.impl.AnimePrintInfo02Impl">-->
<!--            <constructor-arg name="animeKNCW" ref="AnimeKNCWImpl"></constructor-arg>-->
<!--            <constructor-arg name="animeName" value="Lycoris Recoil"></constructor-arg>-->
<!--            <constructor-arg name="releaseTime" value="2022"></constructor-arg>-->
<!--        </bean>-->

<!--        <bean id="AnimePrintInfo02Impl" class="com.itheima.spring.impl.AnimePrintInfo02Impl">-->
<!--            <constructor-arg index="0" ref="AnimeKNCWImpl"></constructor-arg>-->
<!--            <constructor-arg index="1" value="Lycoris Recoil"></constructor-arg>-->
<!--            <constructor-arg index="2" value="2022"></constructor-arg>-->
<!--        </bean>-->

        <bean id="AnimePrintInfo02Impl" class="com.itheima.spring.impl.AnimePrintInfo02Impl">
            <constructor-arg type="com.itheima.spring.impl.AnimeKNCWImpl" ref="AnimeKNCWImpl"></constructor-arg>
            <constructor-arg type="java.lang.String" value="Lycoris Recoil"></constructor-arg>
            <constructor-arg type="java.lang.Integer" value="2022"></constructor-arg>
        </bean>

</beans>