<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <bean id="AnimeInfoImpl" class="com.itheima.spring.impl.AnimeInfoImpl">
        <property name="animeName" ref="AnimeNameImpl"></property>
        <property name="animeTime" ref="AnimeTimeImpl"></property>
        <property name="animeKNCW" ref="AnimeKNCWImpl"></property>
    </bean>
<!--    -->
<!--    <bean  id="AnimeNameImpl" class="com.itheima.spring.impl.AnimeNameImpl"></bean>-->
<!--    <bean  id="AnimeTimeImpl" class="com.itheima.spring.impl.AnimeTimeImpl"></bean>-->
<!--    <bean  id="AnimeKNCWImpl" class="com.itheima.spring.impl.AnimeKNCWImpl"></bean>-->

<!--    <bean  name="AnimeNameImpl" class="com.itheima.spring.impl.AnimeNameImpl" scope="singleton"></bean>-->
<!--    <bean  name="AnimeTimeImpl" class="com.itheima.spring.impl.AnimeTimeImpl" scope="singleton"></bean>-->
<!--    <bean  name="AnimeKNCWImpl" class="com.itheima.spring.impl.AnimeKNCWImpl" scope="singleton"></bean>-->

<!--    <bean  name="AnimeNameImpl" class="com.itheima.spring.impl.AnimeNameImpl" scope="prototype"></bean>-->
<!--    <bean  name="AnimeTimeImpl" class="com.itheima.spring.impl.AnimeTimeImpl" scope="prototype"></bean>-->
<!--    <bean  name="AnimeKNCWImpl" class="com.itheima.spring.impl.AnimeKNCWImpl" scope="prototype" ></bean>-->

    <bean  name="AnimeNameImpl" class="com.itheima.spring.impl.AnimeNameImpl" ></bean>
    <bean  name="AnimeTimeImpl" class="com.itheima.spring.impl.AnimeTimeImpl" ></bean>
    <bean  name="AnimeKNCWImpl" class="com.itheima.spring.impl.AnimeKNCWImpl" ></bean>

    <bean id="FactoryCreateBeanP" class="com.itheima.spring.utils.FactoryCreateBean"></bean>

    <bean id="FactoryCreateBean" class="com.itheima.spring.utils.FactoryCreateBean" factory-method="getAnimeKNCWBean"></bean>

    <bean id="FactoryCreateBean02" factory-bean="FactoryCreateBeanP" factory-method="getAnimeKNCWImplBean"></bean>




</beans>